body {
    font-family: "Playfair Display", serif;
    font-family: "Source Code Pro", monospace;
  }
  #header {
    height: 5vh;
    color: blue;
    padding-top: -5px;
  }
  #nav-links {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
  }
  
  span a {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  a:hover {
    background-color: green;
  }
  
  #nav-logo {
    background-color: red;
    width: 50px;
  }
  
  p {
    height: 4px;
  }
  
  .post-title,
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  #seller,
  .location {
    font-size: 10px;
  }
  
  .post-info {
    padding: 0px 0px 4px 4px;
    margin: 5px;
    box-shadow: 0px 8px;
  }
  
  #title-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  button {
    background-color: green;
    color: white;
    margin-top: 1px;
    font-family: "Playfair Display", serif;
    font-family: "Source Code Pro", monospace;
  }
  
  #posts-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  input {
    height: 20px;
    font-family: "Playfair Display", serif;
    font-family: "Source Code Pro", monospace;
  }
  
  .description {
    font-size: 15px;
  }
  
  #new-post-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .page-title {
    color: green;
    font-size: 3vw;
  }
  
  #inbox {
    background-color: #455050;
    margin-top: 0px;
    border-top-left-radius: 1.5px;
    border-top-right-radius: 1.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
  }
  
  #message {
    height: 50%;
  }
  
  #message-content {
    height: max-content;
    background-color: #5bc236;
    border-radius: 15px;
    width: fit-content;
    margin-left: 4px;
    padding-right: 5px;
  }
  
  #sender {
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25vw;
    border-radius: 0px;
    margin-left: 4px;
    margin-right: 5px;
  }
  
  #inbox-span {
    background-color: gray;
    float: left;
    border-radius: 1.5px;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  #user-posts {
    float: right;
    margin-top: 0px;
    margin-right: 30px;
  }
  
  .profile-body {
    background-color: orange;
    text-align: start;
  }